* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

ul {
  list-style: none;
}

body {
  background-color: #18191A;
}

body * {
  font-family: 'Roboto', sans-serif;
}

p{
  padding: 5px;
}

#app {
  padding-top: 52px;
  width: fit-content;
  margin: auto;
}

header {
  margin-bottom: 60px;
  text-align: center;
}

header img{
  width:150px;
  border-radius: 10px;
  
  
}

#cards{
  color: #fff;
  padding: 25px;
  display:flex;
  flex-direction: row;
  gap: 32px;
}


.card {
  padding: 32px 23px;
  text-align: center;
  background: #1d1c19;
  border-bottom: 2px solid #f7dd43;
  border-radius: 10px;
}

.card h2 {
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  
  padding: 8px 16px;
  border: 1px solid #746615;
  border-radius: 6px;
  
  width: fit-content;
  margin-inline: auto;
  
  margin-bottom: 53px;
  
  color: #f7dd43;
}

.card h2 span {
  font-size: 14px;
  text-transform: uppercase;
}

.card ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
  
  width: 270px;
}

.card ul li + li {
  padding-top: 48px;
  border-top: 1px solid #323238;
}

.card ul li strong {
  font-weight: 900;
  font-size: 36px;
  line-height: 125%;
  
  color: #e1e1e6;
}

.card img{
  padding: 10px;
  width: 250px;
  border-radius: 20px;
}

p{
  color: #fff
}



footer p{
  padding: 40px;
  text-align: center;
}

footer div{
  display: flex;
  justify-content: center;
  
}

footer img{
  width: 9vh;
  padding-right: 20px;
}

button:hover{
  background: rgb(0, 0, 0);
}

button{
  padding-top: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding: 0.8rem 3.5rem;
  background: #363636;
  text-decoration: none;
  color: #ffffffbb;
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 100px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border: none;
  outline: none;
  cursor: pointer;
}

a{
  color: white;
  text-decoration: none;
}

.titulo{
  align-items: center;
}

#burger{
  /* background-color: #484848; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: rgb(241, 241, 241);
  text-align: center;
  padding: 0 24px;
  cursor: pointer;
  transition: 1s ease;
}

menu{
  display: none;
}

#burger:hover{
  background-color: #252525;
  color: #E9DD43;

}

.nav-link:hover{
  background-color: #685757;
  color: rgb(255, 255, 255);
}

.nav-link{
  transition: 0.7s ease;
}


@media screen and (max-width: 525px){
  #cards{
    align-items: center;
    padding: 5px;
    display:flex;
    flex-direction: column;
    gap: 1px;
  }

  .card{
    padding: 32px 23px;
    text-align: center;
    background: #1d1c19;
    border-bottom: 2px solid #f7dd43;
    border-radius: 10px;
  }


 

  #burger{
    /* display: flex; */
    justify-content: flex-start;
    align-items: flex-start;
  }
}